<%= link_to "Add a new restaurant", new_restaurant_path %>

<h1> Les restaurants </1>
<% @restaurants.each do |restaurant| %>
<h2> <%= restaurant.name %> </h2>
<p> <%= restaurant.address %> </p>
<%= link_to "Allez voir", restaurant_path(restaurant) %>
<%= link_to "Delete", restaurant_path(restaurant), method: :delete %>
<% end %>


